.navbar-main {
	background-color: #e6e8e4;
	min-height: 15vh;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	align-items: center;
	padding: 0 2rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 95%;
	z-index: 5;
	.navbar-logo {
		display: flex;
		justify-content: left;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			text-decoration: none;
		}
		.active {
			li {
				background-color: #cead25;
				color: white;
				cursor: default;
				&:hover {
					background-color: #cead25;
					color: white;
				}
			}
		}

		li {
			list-style: none;
			margin-right: 2rem;
			font-weight: 600;
			font-size: 1.1rem;
			display: flex;
			justify-content: center;
			color: #2d3310;
			padding: 0.6rem 1.2rem;
			border-radius: 20px;
			&:hover {
				background-color: white;
				color: #2d3310;
			}
		}
	}
	.navbar-login-main {
		display: flex;
		justify-content: end;
		a {
			text-decoration: none;
		}
		.navbar-login {
			background-color: #544c2b;
			color: white;
			font-weight: 600;
			padding: 0.6rem 1.8rem;
			font-size: 1.1rem;
			border-radius: 15px;
		}
	}
	.userWrapper {
		img {
			cursor: pointer;
			width: 3.2rem;
			height: 3.2rem;
			border-radius: 50%;
			border: 2px solid #2f3513;
		}
	}

	.profile-dropdown {
		position: absolute;
		right: 20px;
		width: 170px;
		height: 90px;
		top: 80px;
		margin-right: 1.5rem;
		background: #fff;
		color: black;
		border-radius: 5px;
		text-align: left;
		padding: 0.8rem;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
			rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
		font-size: 1.1rem;
		// z-index: 1;
		z-index: 2;
		text-align: center;
		line-height: 30px;

		.dropdown-content {
			display: flex;
			text-align: center;

			.logout_no,
			.logout_yes {
				width: 4rem;
				font-size: 0.9rem;
				border: 1px solid #136f9a;
				margin: 0.2rem;
				border-radius: 3px;
				color: #136f9a;
				cursor: pointer;
			}

			.logout_yes,
			.logout_no:hover {
				background-color: #136f9a;
				color: #fff;
			}
		}
	}
}
